[color]
	ui = true
[user]
	name = Alisson Viegas
	email = alissonviegas@acsiv.com.br
[alias]
	ac = ! git add -A && git commit -m
	cb = checkout -b
	ch = checkout
	cm = checkout main
	co = commit -m
	lg = log --all --graph --decorate --oneline --abbrev-commit
	ss = show --stat HEAD
	conflicts = ! git diff --name-only --diff-filter=U --relative
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
[core]
	editor = vim
	autocrlf = false
[help]
	autocorrect = 1
[credential]
	helper = store
[init]
	defaultBranch = main
