[color]
	ui = true
[user]
	name = Alisson Viegas
	email = alissonviegas@acsiv.com.br
[alias]
	ac = !git add -A && git commit -m
	cb = checkout -b
	co = commit -m
	lg = log --all --graph --decorate --oneline --abbrev-commit
[core]
	editor = vim
