[color]
	ui = true
[user]
	name = Alisson Viegas
	email = alissonviegas@acsiv.com.br
[alias]
	ac = !git add -A && git commit -m
	cb = checkout -b
	ch = checkout
	co = commit -m
	lg = log --all --graph --decorate --oneline --abbrev-commit
	conflicts = !git diff --name-only --diff-filter=U --relative
[core]
	editor = vim
	autocrlf = false
[help]
	autocorrect = 1
[credential]
	helper = store
[init]
	defaultBranch = main
